doctype html
html
  head
    meta(charset='UTF-8')
    title Credit page
    link(rel='stylesheet' href='/css/credit.css')
    link(
          rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
        )
  body
    .dashboard-layout
      .sidebar
         .sidebar-header
          img.sidebar-logo(src='/images/loggo.png' alt='Nyondo Logo')
          h2 Admin
          nav
            a(href='/admin') Admin dashboard
            if isStoreManager
            a(href='/stockdashboard') Stock dashboard
            a(href='/stock') Inventory Levels
            a(href='/supplier') Supplier Management
            a(href='/') Home 
            a(href='/creditform') Register new credit 
            a(href='/logout') Logout
      .container

        h1 Credit page

        // BUTTON
        if isAdmin
          .top-bar
            a.btn(href='/creditform') + Add New Sale on credit

        // CARDS (DYNAMIC)
        .cards

          .card
            h2 Total Credit
            p UGX #{totalCredit}

            h2 Total Paid
            p UGX #{totalPaid}

          .card
            h2 People with Credit
            p #{peopleWithCredit}

        // CREDITORS TABLE
        h2.section-title Creditors List

        table
          thead
            tr
              th Creditor Name
              th Phone
              th Item Taken
              th Quantity
              th Unit Price
              th Total cost 
              th amountDeposited 
              th Balance
              th Date Taken
              th Action 

          tbody
            if credits && credits.length > 0
              each credit in credits
                tr
                  td #{credit.customerName}
                  td #{credit.phoneNumber}
                  td #{credit.itemName}
                  td #{credit.quantity}
                  td #{credit.unitPrice}
                  td #{credit.totalCost}
                  td #{credit.amountDeposited}
                  td #{credit.balance}
                  td #{credit.date.toDateString()}
                  td.action
                    a.btn-receipt(href=`/creditreceipt/${credit._id}`) Receipt

                    if isAdmin
                      a.edit-icon(href=`/creditedit/${credit._id}`)
                        i.fas.fa-edit
            else
              tr
                td(colspan='10') No credit records found

        // ITEMS UNDER CREDIT (OPTIONAL SIMPLE VERSION)
        h2.section-title Items Under Credit
        table
          thead
            tr
              th Item Name
              th Quantity

          tbody
            if itemsUnderCredit && itemsUnderCredit.length > 0
              each item in itemsUnderCredit
                tr
                  td #{item.itemName}
                  td #{item.quantity}
            else
              tr
                td(colspan='2') No items found