doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Edit User
    link(rel='stylesheet' href='/css/editusers.css')

  body
    

      // MAIN CONTENT
      .main-content

        .top-bar
          h1 Edit Registered User

        .form-container

            form(action="/admin/editusers/" + user._id, method="post")

              .form-group
                label Full Name
                input(
                  type='text'
                  name='fullname'
                  placeholder='Enter full name'
                  value=user.fullname
                )

              .form-group
                label Email
                input(
                  type='email'
                  name='email'
                  placeholder='Enter email'
                  value=user.email
                )

              .form-group
                label Phone Number
                input(
                  type='text'
                  name='phoneNumber'
                  placeholder='Enter phone number'
                  value=user.phone
                )

              .form-group
                label Role
                select(name='role')
                  option(value='admin' selected=(user.role === 'admin')) Admin
                  option(value='sales_dashboard' selected=(user.role === 'sales_dashboard')) Sales Attendant
                  option(value='stock_dashboard' selected=(user.role === 'stock_dashboard')) Stock Manager
              .form-group
                label New Password (leave blank to keep current password)
                input(type='password' name='password' placeholder='Enter new password')
              .buttons
                button.save-btn(type='submit') Update User

                a.cancel-btn(href='/admin') Exit