doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Edit Sales Form
    link(rel='stylesheet' href='/css/sales-edit.css')
  body
    .container
      - const item = sale.items && sale.items.length ? sale.items[0] : sale
      h2 Edit Sale
      form(action='/sale/edit/' + sale._id method='post')
        // Hidden fields to pass existing financial data so math doesn't break
        input(type='hidden' name='unitPrice' value=item.unitPrice || sale.unitPrice)
        input(type='hidden' name='transportCharge' value=sale.transportCharge)

        label Customer Name
        input(type='text' name='customerName' value=sale.customerName placeholder='Enter customer name' required='')
        
        label Customer Address
        input(type='text' name='customerAddress' value=sale.customerAddress placeholder='Enter customer address' required='')
        
        label Customer Distance (km)
        input(type='number' name='customerDistance' value=sale.customerDistance placeholder='Enter distance' required='')
        
        label Quantity
        input(type='number' name='quantity' value=(item.quantity != null ? item.quantity : sale.quantity) placeholder='Enter quantity' required='')
        
        button(type='submit') Update Sale