       
html
  head
    meta(charset='UTF-8')
    title Hardware Store Dashboard
    link(rel='stylesheet' href='/css/stockdashboard.css')

  body
    .sidebar
      h2 Store Manager
      a(href='/stockregform') Register new stock
      a(href='/stock') Stock
      a(href='/index') Home
      a(href='/logout') Logout

    .main
      h2 Total Stock Investment 
      h1 UGX #{(totalInvestment || 0).toLocaleString()}
      p Based on buying price

      .card
        h3 New Stocked Items 
        table
          thead
            tr
              th Item Image
              th Item Name
              th Quantity
              th Unit Price
              th Supplier Name
              th Supplier Phone
              th Factory
              th Selling Price
              th Date
              th Payment Status
              th Stock cost 
              //- th Action 

          tbody
            each stock in dbStock 
              tr
                td
                  img(
                    src='/uploads/' + stock.itemimage,
                    alt='image',
                    width='100px',
                    height='100px'
                  )
                td #{stock.itemName}
                td #{stock.quantity}
                td #{stock.unitPrice}
                td #{stock.supplierName}
                td #{stock.supplierPhone}
                td #{stock.factory}
                td #{stock.sellingPrice}
                td #{new Date(stock.date).toLocaleDateString()}
                td #{stock.paymentStatus}
                td(style="font-weight: bold; color: #1a237e;") 
                  | #{(stock.quantity * stock.unitPrice).toLocaleString()}  
            else
              tr
                td.text-center(colspan='10') No stock has been recorded yet