
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Stock Inventory | Nyondo Hardware
    link(rel='stylesheet' href='/css/stock.css')
  body
    // Sidebar Navigation
    .sidebar
      h2 Store Manager
      nav
        a(href='/stockdashboard') Dashboard
        a(href='/stockregform') Add New Stock
        a.active(href='/inventory') Inventory Levels
        a(href='/logout') Logout

    // Main Content Area
    .main-content
      header
        h1 Current Inventory
        p Overview of available stock and reorder alerts.

      // Low Stock Alert Section
      section.alert-section
        .alert-card
          .alert-header
            span.warning-icon &#x26A0;
            h3 Low Stock Alerts
          ul.alert-list
            li
              strong Cement:
              |  Only 3 bags left. 
              span.action-text Reorder soon
            li
              strong Nails (2 inch):
              |  Only 5 boxes left. 
              span.action-text Reorder soon

      // Inventory Table Section
      section.table-section
        .table-card
          table
            thead
              tr
                th Item Image
                th Item Name
                th Quantity
                th Selling Price
            tbody
              each stock in dbStock 
                tr
                  td
                    img(
                      src='/uploads/' + stock.itemimage,
                      alt='image',
                      width='120px',
                      height='120px'
                    )
                  td #{stock.itemName}
                  td #{stock.quantity}
                  td #{stock.sellingPrice}
              else
                tr
                  td.text-center(colspan='4') No stock has been recorded yet