              
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Supplier Page
    link(rel='stylesheet' href='/css/supplier.css')

  body
    .sidebar
      h2 Store Manager
      nav
        a(href='/stockdashboard') Dashboard
        if isStoreManager
          a(href='/stockregform') Add New Stock
        a(href='/stock') Inventory Levels
        a.active(href='/supplier') Supplier Management
          a(href='/') Home 
        a(href='/logout') Logout
    .container
      h1 Supplier Management

      table
        thead
          tr
            th Image
            th Supplier Name
            th Item Delivered
            th Phone Number
            th Payment Method 
            th Date
        tbody
          if dbStock.length > 0
            each stock in dbStock
              tr
                td
                  img(
                    src='/uploads/' + stock.itemimage,
                    alt='image',
                    width='120',
                    height='120'
                  )

                td #{stock.supplierName}

                td #{stock.itemName}

                td #{stock.supplierPhone}

                td #{stock.paymentMethod}
                td #{stock.date ? new Date(stock.date).toLocaleString() : ''}

          else
            tr
              td.text-center(colspan='5')
                | No stock has been recorded yet