doctype html
head
  meta(charset='UTF-8')
  title Nyondo Hardware - Transport
  link(rel='stylesheet' href='/css/transport.css')
.container
  // HEADER
  h1 Nyondo Hardware Transport Services
  // NOTE
  .note
    | NOTE: Clients who are a distance from the hardware and want to use transport services will pay UGX 50,000.
  // BUTTON
  button(onclick='toggleForm()') + Add Transport Record
  // FORM
  #formContainer.hidden.form-section
    h2 Transport Form
    form#transportForm
      input#customer(type='text' placeholder='Customer Name' required='')
      input#location(type='text' placeholder='Delivery Location' required='')
      input#item(type='text' placeholder='Item Transported' required='')
      input#cost(type='number' placeholder='Transport Cost (UGX)' required='')
      button(type='submit') Save Record
  // TABLE
  .table-section
    h2 Transport Records
    table#transportTable
      thead
        tr
          th Customer
          th Location
          th Item
          th fuelCost (UGX)
          th driverName
          th  vehicleNumber
          th route
      tbody
        // Data appears here
script.
  function toggleForm() {
  document.getElementById("formContainer").classList.toggle("hidden");
  }
  document.getElementById("transportForm").addEventListener("submit", function(e) {
  e.preventDefault();
  let customer = document.getElementById("customer").value;
  let location = document.getElementById("location").value;
  let item = document.getElementById("item").value;
  let cost = document.getElementById("cost").value;
  let table = document.querySelector("#transportTable tbody");
  let row = `
  <tr>
  <td>${customer}</td>
  <td>${location}</td>
  <td>${item}</td>
  <td>${fuelcost}</td>
  <td>${driverName}</td>
  <td>${fuelCost}</td>
  <td>${vehicleNumber}</td>
  <td>${route}</td>
  </tr>
  `;
  table.insertAdjacentHTML("beforeend", row);
  document.getElementById("transportForm").reset();
  });
| l
